<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        body {
            user-select: none;
        }
    </style>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href='@Url.Content("~/Content/fontawesome/css/all.min.css")' />
    <link rel="stylesheet" href="@Url.Content("~/Content/alertify/css/alertify.min.css")" />
    @Scripts.Render("~/bundles/modernizr")

    <script>
        var getClientsUrl = '@Url.Action("GetClients","AD")';
        var getClientTaskUrl = '@Url.Action("GetClientTask","AD")';
        var killClientTaskUrl = '@Url.Action("KillTask","AD")';
        var getAppFilesUrl = '@Url.Action("GetFiles","Apps")';
        var getAppVersionUrl = '@Url.Action("GetVersions","Apps")';
        var getAppServersUrl = '@Url.Action("GetServers","Apps")';
        var getAppsUrl = '@Url.Action("GetApps","Apps")';
        var createAppsUrl = '@Url.Action("CreateApp", "Apps")';
        var deleteAppsUrl = '@Url.Action("DeleteApp","Apps")';
        var createAppVersionUrl = '@Url.Action("AddVersion","Apps")';
        var deleteAppVersionUrl = '@Url.Action("DeleteVersion","Apps")';
        var createDirectoryUrl = '@Url.Action("CreateDirectory","Apps")';
        var uploadFileUrl = '@Url.Action("UploadFiles","Apps")';
        var deleteMultiSelectUrl = '@Url.Action("DeleteMultiSelect","Apps")';
        var addGroupUrl = '@Url.Action("AddGroup","ClientProfile")';
        var deleteGroupUrl = '@Url.Action("DeleteGroup","ClientProfile")';
        var addGroupMembers = '@Url.Action("AddGroupMembers","ClientProfile")';
        var deleteGroupMembers = '@Url.Action("DeleteGroupMembers","ClientProfile")';
        var getGroups = '@Url.Action("GetGroups","ClientProfile")';
        var getGroupMembers = '@Url.Action("GetMembers","ClientProfile")';
        var getMemberDetails = '@Url.Action("GetMemberDetails","ClientProfile")';
        var getAppDetails = '@Url.Action("GetAppDetails","ClientProfile")';
        var restartClientConn = '@Url.Action("RestartHubCon","ClientProfile")'
    </script>
    <script>

    </script>
    @RenderSection("headerScripts", required: false)




</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SPWS App Deployment", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Monitoring", "Monitoring", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Applications", "Applications", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Settings", "Settings", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
        <footer>
            <hr />
            <p>&copy; @DateTime.Now.Year - Sumi Philippines Wiring Systems Corp. | Information Technology</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src='@Url.Content("~/Content/alertify/alertify.min.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/knockout-3.5.1.js")'></script>
    @*<script type="text/javascript" src="@Url.Content("~/Content/fontawesome/js/all.min.js")"></script>*@
    <script type="text/javascript" src='@Url.Content("~/Scripts/jquery.signalR-2.4.1.min.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/adhub/signalr/hubs")'></script>
    @RenderSection("scripts", required: false)

  
</body>
</html>
